@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Gowun+Dodum&display=swap');

:root{
    --shade-1: #775571;
    --shade-2: #9781A6;
    --shade-3: #d5c7e4;
    --shade-4: #CABFD9;
    --shade-5: #ECE4F2;

    --color-text-primary: #583150;
    --color-text-link: #a73b93;
}

body {
    /*padding-top: 70px; /* Height of the header */
    background-color: var(--shade-5);
    font-family : 'Gowun Dodum', sans-serif;
}

a{
    color: var(--color-text-link)
}

footer{
    background-color: var(--shade-3);
}

.btn-primary{
    background-color: var(--shade-1)!important;
    border-color: var(--shade-1)!important;
}
.btn-secondary{
    background-color: var(--shade-4)!important;
    border-color: var(--shade-4)!important;
    
    color: var(--color-text-primary)!important;
}
.btn-success{
    background-color: var(--shade-5)!important;
    border-color: var(--shade-5)!important;
    
    color: var(--color-text-primary)!important;
}
.btn-info{
    background-color: var(--shade-3)!important;
    border-color: var(--shade-3)!important;
    
    color: var(--color-text-primary)!important;
}
.btn-warning{
    background-color: var(--attention-color)!important;
    border-color: var(--attention-color)!important;
}


.navbar{
    background-color: var(--shade-1)!important;
}

.carousel img {
    object-fit: cover;
    height: 66vh;
}

.carousel-item-header {
    position: relative;
    top: 90px;
    left: 1.2em;
}

.carousel-item-text {
    position: relative;
    top: 130px;
    left: 10px;
}

.card{
    background-color: #f0ebf3 !important;
    border-color: var(--shade-3) !important;
}

/* .card-group {
    margin-left: 370px;
    margin-right:370px;
} */

.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

#org-name{
    font-family: 'Cal Sans', sans-serif;
}

h1{
}

h2, h3, h4, h5, h6 {
    color: var(--color-text-primary);
    font-family: 'Cal Sans', sans-serif;

    /* margin: 0 25px 0 25px; */
}

p {
    color:var(--color-text-primary);
}

