@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
    /*padding-top: 70px; /* Height of the header */
    font-family : 'Gowun Dodum', sans-serif;
}

.bg-primary {
    background-color: #007bffc9 !important;
}

.carousel img {
    object-fit: cover;
    height: 77vh;
}

.card-group {
    margin-left: 370px;
    margin-right:370px;
}

.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}